<template id="bookListItemView">
    <div class="uk-grid mb_book_list_item_view">
        <div class="uk-width-small-3-10" style="text-align: center;">
            <img class="mb_book_img">
        </div>
        <div class="uk-width-small-7-10">
            <h4 class="mb_book_title uk-margin-bottom-remove"></h4>
            <h5 class="uk-text-muted uk-text-italic mb_book_author uk-margin-top-remove"></h5>
        </div>
    </div>
</template>

