<template id="bookCardMiniTemplate">
        <div class="md-card mb_book_card_mini" onclick="MB_Book.showInfoModal(this);">
            <div class="mb_book_card_img">
                <img class="mb_book_img md-card-head-img mb_img_full_width" />
            </div>
            <div class="md-card-content">
                <div class="mb_book_title uk-text-bold" style=""></div>
                <div class="mb_book_author uk-text-muted mb_text_one_line_ellipsis"></div>
                <div class="mb_book_desc uk-text-small mb_text_one_line_ellipsis"></div>
            </div>
        </div>
</template>

