<div class="uk-grid uk-margin-top-remove">
    <div class="uk-width-small-9-10">
        <select class="mb_book_search_selector"> </select>
    </div>
    <div class="uk-width-small-1-10" style="align-self: flex-end; padding-left: 10px;">
        <div class="md-preloader" style="display:none;"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="32" width="32" viewbox="0 0 75 75"><circle cx="37.5" cy="37.5" r="33.5" stroke-width="6" /></svg></div>
        <a style="display:none;" onclick="MB_Book_SearchSelector.clean(this);" class="md-list-action mb_btn_delete"><i class="md-icon material-icons md-color-red">delete</i></a>
    </div>
</div>
